Answers for 11

In [ ]:
import zoo
from importlib import reload
reload(zoo)
zoo.hours()

In [ ]:
import zoo as menagerie

In [ ]:
menagerie.hours()

Answers for 16

In [ ]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()